:root vaadin-custom-field {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    width: 12em;
    line-height: 1;
    /*padding: 0 calc(0.375em + var(--lumo-border-radius) / 4 - 1px);*/
    padding: 0 0.25em;
}

:root vaadin-custom-field input{
    border: none;
    border-radius: var(--lumo-border-radius);
    background-color: var(--lumo-contrast-10pct);
    font-weight: 500;
    position: relative;
    cursor: text;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex: auto;
    cursor: inherit;
    min-height: var(--lumo-text-field-size);
    outline:none;
    padding: 0.75em;
    /*-webkit-mask-image: var(--_lumo-text-field-overflow-mask-image);*/
}

:root vaadin-custom-field:focus, :root vaadin-custom-field::selection, :root button:focus, :root button::selection {
    border-style: none;
}